<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta
      name="google-signin-client_id"
      content="897196086921-lqt9ao3vtoqpl9q5olas3cifvojr21h0.apps.googleusercontent.com"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogIn</title>
  </head>
  <body>
    <h1>Login</h1>
   
    <div id="g_id_onload"
     data-client_id="897196086921-lqt9ao3vtoqpl9q5olas3cifvojr21h0.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="https://localhost:5000"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
</script>
  </body>
</html>
